*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color: #f5f5f5;
}

/* Hide Scrollbars But Keep Functionality */
body::-webkit-scrollbar {
    display: none;
}

.container{
    overflow-x: hidden;

}

.container .hero {
    width: 100%;
    height: 100vh;
}

.container .hero img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
    
}

.container .hero video{
    width: 100%;
    height: 100%;
    object-fit: fill;

}


/* navigation */
.nav{
    background-color: transparent;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 1;
}
.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    color: rgb(221, 221, 221);
    margin-right: 2rem;
    cursor: pointer;
}

.container .hero-text{
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    color: rgb(221, 221, 221);
}

.container .hero-text h1{
    font-size: 7rem;
    font-weight: 700;
   
}


.container .scroll-text{
    position: absolute;
    right: 0;
    top: 60%;
    transform: rotate(90deg) translateY(-70%);
}

.container .scroll-text p{
    color: rgb(221, 221, 221);
}


/* animation line scroll */
.loading::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 5.5rem;
    height: 33.3%;
    width: 1px;
    z-index: 1;
}
.loading::after{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 5.5rem;
    width: 1px;
    height: 15%;
    background: #fff;
    z-index: 2;
    transform-origin: top;
    transform: scaleY(0);
    animation: animate 3s infinite linear;
}

@keyframes animate{
    0%
    {
        transform: translateY(0) scaleY(0);
        transform-origin: top;
        top: 80%;
        bottom: auto;
    }
    45%
    {
        transform: translateY(0) scaleY(1);
        transform-origin: top;
        top: 80%;
        bottom: auto;
    }
    50%
    {
        transform: translateY(0) scaleY(1);
        transform-origin: bottom;
        top: auto;
        bottom: 5%;
    }
    100%
    {
        transform: translateY(0) scaleY(0);
        transform-origin: bottom;
        top: auto;
        bottom: 5%;
    }
}

/* animation cursor */
.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgb(241, 241, 241);
    transition: all 100ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 999;
}
  
.cursor2 {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 999;

}


/* expertise */

.container-expertise{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 5rem;
    color: rgb(221, 221, 221);
}



.title-expertise{
    display: flex;
    align-items: center;
    position: absolute;
    right: 5rem;
    top: 3rem;
}

.title-expertise img{
    margin-left: 1rem;
    margin-top: 5px;
    cursor: pointer;
}





.display-expertise-flutter{
    opacity: 1;
    transition: all .5s ease-in-out;
}
.display-expertise-flutter.box--hidden{
    opacity: 0;
}


.display-expertise-android{
    opacity: 1;
    transition: all .5s ease-in-out;
}
.display-expertise-android.box--hidden{
    opacity: 0;
}



.expertise-content{
    display: flex;
    align-items: center;
}


.title-dev{
    font-size: 64px;
    margin-bottom: 3rem;
    color: transparent;
    -webkit-text-stroke: 1px rgb(221, 221, 221);
}

.desc-dev{
    margin-bottom: 2rem;
}


.character{
    width: 40rem;
}

.character img{
    width: 100%;
    height: 100%;
}

/* project scroll  */


.text-project-habit{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    justify-content: center;
    padding: 0 5rem;
    width: 50%;
    position: absolute;
    color: rgb(221, 221, 221);
    z-index: 1;
}

.text-project-habit h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 1px rgb(221, 221, 221);
}

.text-project-habit p{
    font-size: 1rem;
}

.text-project-todolist{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    justify-content: end;
    padding: 0 5rem;
    width: 50%;
    position: absolute;
    right: 0;
    color: rgb(221, 221, 221);
    z-index: 1;
    text-align: end;
    transform: translateY(40%);
}

.text-project-todolist h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 1px rgb(221, 221, 221);
}

.text-project-todolist p{
    font-size: 1rem;
}

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


/* slider */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(calc(-10rem * 7));
    }
}
@keyframes scroll1{
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(calc(10rem * 7));
    }
}

.container-slider{
    height: 8rem;
    background-color: rgb(221, 221, 221);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;

}

.container-slider .slider-track,
.container-slider .slider-track2{
    display: flex;
    width: calc(10rem * 7);
    justify-content: center;
    height: 100%;
    align-items: center;
}
.container-slider .slider-track{
    animation: scroll 40s linear infinite;
    
}
.container-slider .slider-track2{
    animation: scroll1 40s linear infinite;
}

.container-slider .slider-track .slide{
    width: 10rem;
    margin-right: 5rem;
}

.container-slider .slider-track2 .slide{
    width: 10rem;
    margin-left: 5rem;

}
.container-slider .slider-track .slide h1,
.container-slider .slider-track2 .slide h1{
    color: #1e1e1e;
}



/* all project */
.container-allproject{
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 5rem;
    color: rgb(221, 221, 221);
}

/* responsive mode */

@media only screen and (max-width: 768px){

    /* hero */
    .nav{
        right: 0;
    }
    
    li{
        font-size: 0.7rem;
    }

    
    .container .hero img{
        object-fit: cover;
        
    }
    .container .hero video{
        object-fit: cover;
        
    }

    .container .hero-text{
        left: 1rem;
        bottom: 2rem;
    }
    
    .container .hero-text h1{
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .container .hero-text h2{
        font-size: 1rem;
    }

    .container .scroll-text{
        font-size: 0.7rem;
        right: 0;
        top: 60%;
        transform: rotate(90deg) translateY(-250%);
    }

    .loading::after{
        right: 2.35rem;
    }

    /* expertise */
    .container-expertise{
        padding: 0 1rem;
        justify-content: space-between;
    }


    .title-expertise{
        left: 1rem;
        top: 3rem;
        font-size: 0.7rem;
    }
    
    .title-expertise img{
        margin-left: 1rem;
        margin-top: 5px;
        cursor: pointer;
    }

    .expertise-content{
        margin-top: 5rem;
        flex-direction: column;
    }

    .expertise-text{
        margin-bottom: 3rem;
    }

    .title-dev{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .desc-dev{
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .expertise-content p{
        font-size: 0.6rem;
    }
    
    .character{
        width: 20rem;
    }

    


}